
  <h1>clac</h1>
  <div class="div1">
  <table>
    <tr>
      <td colspan="4"><input type="text" [value]=y>
      </td>
    </tr>
    <tr>
      <td><button (click)="onclick1()">1</button></td>
      <td><button (click)="onclick2()">2</button></td>
      <td><button (click)="onclick3()">3</button></td>
      <td><button (click)="onclickplus()">+</button></td>
    </tr>
    <tr>
        <td><button (click)="onclick4()">4</button></td>
        <td><button (click)="onclick5()">5</button></td>
        <td><button (click)="onclick6()">6</button></td>
        <td><button (click)="onclickmi()">-</button></td>
      </tr>
      <tr>
          <td><button (click)="onclick7()">7</button></td>
          <td><button (click)="onclick8()">8</button></td>
          <td><button (click)="onclick9()">9</button></td>
          <td><button (click)="onclickmul()">*</button></td>
        </tr>
        <tr>
            <td><button (click)="onclick0()">0</button></td>
            <td><button (click)="onclickce()">CE</button></td>
            <td><button (click)="onclickeq()">=</button></td>
            <td><button (click)="onclickdiv()">/</button></td>
          </tr>
    </table>
    </div>

