<div class="container">
  <b style="font-size: 50px; color: royalblue;">User Profile</b>
</div>
<hr>
<div  class="container">
  <div class="form-group">
   <h4>Email_Id:</h4> <input class="form-control" [disabled]="true" type="text" [(ngModel)]="email">
  </div>

  <div class="form-group">
      <h4>Password:</h4> <input class="form-control" [disabled]="true" type="text" [(ngModel)]="pass">
  </div>

  <div class="form-group">
    <h4>User_name:</h4> <input class="form-control"[disabled]="true" type="text" [(ngModel)]="name">
</div>
  <div class="form-group">
    <h4>Mob:</h4> <input class="form-control" [disabled]="true" type="text" [(ngModel)]="mob">
</div>

<div class="form-group">
      <h4>City:</h4>
      <select class="form-control" [disabled]="true" [(ngModel)]="city">
        <option *ngFor="let item of sta" >{{item}}</option>
      </select>
  </div>
  <div class="form-group">
    <h4>Gender:</h4>
    <input class="form-control" type="radio" [disabled]="true" value="male" name="a1" [(ngModel)]="gen" checked="male">Male
    <input class="form-control" type="radio" [disabled]="true" value="female" name="a1" [(ngModel)]="gen">Female
    </div>

  <div class="form-group">
    <h4>Add:</h4> <input class="form-control" [disabled]="true" type="textarea" [(ngModel)]="add">
</div>

  <div class="row">
      <div class="col-md-6">
              <button class="btn btn-lg btn-primary form-control" (click)="onEdit()" >Edit Profile</button>
      </div>
      <div class="col-md-6">
              <button class="btn btn-lg btn-danger form-control" (click)="oncan()">CANCEL</button>
      </div>


  </div>

</div>
<hr>


